{{ define "html-head" }}
<head>
    <meta charset="UTF-8">
    <title>{{ .title }}</title>

    <link rel="stylesheet" href="static/css/styles.css" type="text/css">
    <link rel="stylesheet" href="static/vendors/font-awesome/css/font-awesome.min.css">
</head>
{{ end }}
